hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.images-update {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 10px;
}

.upload-area {
    width: 80%;
    min-width: 400px;
    padding: 20px;
    border: 3px dashed #ffffff;
    background-color: #4d4d4d;
    text-align: center;
    cursor: pointer;
    margin-bottom: 5px;
}

.file-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.file-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.thumbnail {
    width: auto;          
    height: 100px;        
    max-width: 100%;       
    object-fit: contain;   
    border: 1px solid #ddd;
    border-radius: 5px;
}

.remove-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 5px;
}


.settings-area {
    width: 60%;
    min-width: 400px;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 10px;
    border: 3px solid #b413d8;
    border-radius: 10px;
    background-color: #2b0035; 
}

input[type="text"] {
    padding: 5px;
    border: 2px solid #ffffff;
    background-color: #64007a;
    border-radius: 4px;
    width: 100%;
}

.button-container {    
    display: flex;
    justify-content: center;
    margin-top: 10px;    
    margin-bottom: 10px;
}

.button {
    width: 350px;
    height: 50px;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    display: flex; 
    justify-content: center; 
    align-items: center;     
}

.img-upload {    
    background-color: #004f00;
    box-shadow: inset 0 0 0 3px #00d732;
}

.img-upload:hover {
    background-color: #0e721b;   
}

#upload-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#overlay-content img {
    width: 350px; 
    height: auto;
    border: 3px solid #ffab3e;
    border-radius: 10px;
}

.hidden {
    display: none;
}

.final-cover {
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0 auto; 
}

.final-cover .image {
    width: 550px;
    display: flex;
    justify-content: center; 
}

.final-cover .image img {
    margin-top: 10px;
    width: 100%;
    height: auto; 
    object-fit: contain; 
    border-radius: 5px; 
}

.button-container-back {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
    gap: 20px;
}

.button-back {
    display: inline-block;
    width: 350px;
    padding: 12px 24px;
    background-color: #390061;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: inset 0 0 0 2px #ffffff;
}

.button-back:hover {
    background-color: #6d01e0;
}





