.image-container {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

.image-container img {
    max-width: 200px;  
    display: block;
    border-radius: 5px;
    border: 2px solid #fffdca;
}

.button{
    box-shadow: inset 0 0 0 2px #ffffff;
}



